/* ======================================
    Default Theme
    ----------------------------------
    Fonts: Poppins & Roboto
    ----------------------------------
    Colors:
        
       
====================================== */
/***********
1. Fonts
***********/

/*@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900|Roboto:300,400,500,700,900');*/
@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i|Quicksand:400,500,700');

/* ======================================
                Html, Body
====================================== */

html,
body {
    height: 100%;
    font-family: 'Quicksand', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}


/* ======================================
                Generics
====================================== */


button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: 0 0;
    color: inherit;
    font: inherit;
    line-height: normal;
    cursor: pointer
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: "Quicksand", sans-serif;
}

h2 {
    font-weight: 600;
}

p {
    font-family: "Lato", sans-serif;
    font-size: 14px;
    color: #293038;
    letter-spacing: 0.1px;
    line-height: 1.8;
}

a {
    color: #4c4c4c;
    transition: .3s
}

a,
button {
    outline: none !important
}

a:focus,
a:hover {
    text-decoration: none;
    color: #333
}

img {
    max-width: 100%;
}

ul,
ol {
    padding: 0;
    margin: 0;
    list-style: none;
}

label,
legend {
    font-weight: 500;
}

option {
    font-weight: 400;
}

input[type=checkbox] {
    appearance: checkbox !important;
    -moz-appearance: checkbox !important;
    -webkit-appearance: checkbox !important;
    -o-appearance: checkbox !important;
    -ms-appearance: checkbox !important;
}

input[type=radio] {
    appearance: radio !important;
    -moz-appearance: radio !important;
    -webkit-appearance: radio !important;
    -o-appearance: radio !important;
    -ms-appearance: radio !important;
}

input:-webkit-autofill {
    box-shadow: 0 0 0 30px transparent inset;
    -moz-box-shadow: 0 0 0 30px transparent inset;
    -webkit-box-shadow: 0 0 0 30px transparent inset;
    -o-box-shadow: 0 0 0 30px transparent inset;
    -ms-box-shadow: 0 0 0 30px transparent inset;
    background-color: transparent !important;
}

/*
input[type=file] {
    border-radius: 4px;
}

input[type=file]:before {
    content: '';
    position: absolute;
    background-color: #f7f7f7;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 10px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    height: calc(2rem + 2px);
    width: 12%;
}

.form-control-file,
.form-control-range {
    border: 2px solid #ced4da;
    border-radius: .25rem;
}*/
.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.btn-upload {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.svg {
    position: absolute;
}

.gray {
    background: #f7f7f7;
}

.section-heading {
    margin-bottom: 60px;
}

.row.no-gutters [class*=col-] {
    padding: 0;
}

.form-control {
    border-width: 1.5px !important;
}

label.error {
    color: #dc3545;
}

input.form-control.error {
    border: 2px solid #dc3545;
}

/* ======================================
                Buttons
====================================== */

.btn-general {
    font-family: "Quicksand", sans-serif;
    border-radius: 4px;
    font-size: 15px;
    margin-right: 6px;
    padding: 8px 40px;
    font-weight: 500;
    -webkit-transition: all .3s;
    transition: all .3s;
}


/***** Header Buttons *****/

.btn-white {
    background: #fff;
    border: 2px solid #1689D6;
}

.join-community .btn-general {
    font-size: 20px;
    padding: 13px 40px;
    margin: 0 10px;
}

.btn-white:hover,
.btn-white:focus {
    background: #276FBF;
    border: 2px solid #276FBF;
    -webkit-box-shadow: 0px 2px 12px 0px #888888;
    box-shadow: 0px 2px 12px 0px #888888;
}

#navigation ul .btn-white:hover,
#navigation ul .btn-white:focus,
.btn-white:hover,
.btn-white:focus {
    color: #fff;
}

.btn-blue {
    background: #1689D6;
    border: 1px solid #1689D6;

}




#navigation ul .btn-blue,
.btn-blue {
    color: #fff;
}

#navigation ul .btn-blue:hover,
#navigation ul .btn-blue:focus,
.btn-blue:hover,
.btn-blue:focus {
    color: #fff;
    background: #276FBF;
    border: 1px solid #276FBF;
    -webkit-box-shadow: 0px 2px 12px 0px #888888;
    box-shadow: 0px 2px 12px 0px #888888;
}

#navigation ul .btn-orange,
.btn-orange {
    color: #fff;
    background: #f79125;
    border: 1px solid #f79125;
}

#navigation ul .btn-orange:hover,
#navigation ul .btn-orange:focus,
.btn-orange:hover,
.btn-orange:focus {

    background: #f77b0b;
    border: 1px solid #f77b0b;
    color: #fff;
    -webkit-box-shadow: 0px 2px 12px 0px #888888;
    box-shadow: 0px 1px 12px 0px #888888;
}

.banner-btn-group .btn-general {
    font-size: 20px;
    padding: 12px 38px;
}

.banner-btn-group .btn-transparent {
    color: #fff;
    background: transparent;
    border: 2px solid #fff;
}

.banner-btn-group .btn-white {
    border: 2px solid #fff;
    color: #1689D6;
}

.btn-transparent:hover,
.btn-transparent:focus {
    color: #1689D6;
    background: #fff;
}

.banner-btn-group .btn-orange {
    border: 2px solid #f79125;
}

.banner-btn-group .btn-white:hover,
.banner-btn-group .btn-white:focus,
.banner-btn-group .btn-orange:hover,
.banner-btn-group .btn-orange:focus {
    color: #fff;
    background: #66b6ec;
    border: 2px solid #66b6ec;
    box-shadow: none;
}

/* ======================================
                Header
====================================== */

#logo {
    display: inline-block;
    height: 100%;
    vertical-align: top;
    padding-right: 35px;
    margin-right: 20px
}

#logo img {
    height: 42px;
    width: auto;
    top: 50%;
    position: relative;
    transform: translate3d(0, -50%, 0)
}


#header {
    position: relative;
    z-index: 999;
    padding: 0;
    box-shadow: 0 0 18px 0 rgba(0, 0, 0, .12);
    font-size: 16px;
    height: 82px;
    background-color: #fff
}

#header .container,
#header .right-side,
#header .left-side {
    height: 100%
}

header.fullwidth .container {
    max-width: 100%;
    margin: 0;
    padding: 0 35px
}

#header .container {
    position: relative
}

#header .left-side {
    float: left;
    width: 100%;
    display: inline-block;
    position: relative;
    flex: 1
}

#header .right-side {
    float: right;
    text-align: right;
    width: auto;
    display: inline-block;
    position: absolute;
    right: 25px;
    background-color: #fff;
    flex: 1
}

.full-width #header .left-side {
    float: left;
    width: 100%;
    display: inline-block;
    position: relative
}

.full-width #header .right-side {
    float: right;
    text-align: right;
    width: auto;
    display: inline-block;
    position: absolute;
    right: 25px;
    background-color: #fff
}

/******** Navigation **********/
#navigation {
    position: relative;
    display: inline-block;
    margin-top: 22px
}

#navigation ul {
    list-style: none;
    position: relative;
    float: left;
    margin: 0;
    padding: 0
}

#navigation ul a {
    display: block;
    text-decoration: none;
    padding: 5px 0
}

#navigation ul li {
    position: relative;
    float: left;
    margin: 0;
    padding: 0
}

#navigation ul li a:after {
    font-family: material-icons;
    content: '\e914';
    opacity: 1;
    font-size: 16px;
    transition: .2s;
    opacity: 1;
    line-height: 17px;
    width: 17px;
    height: 17px;
    background-color: #f0f0f0;
    color: #a8a8a8;
    display: inline-block;
    border-radius: 3px;
    margin-left: 7px;
    text-indent: 0;
    top: 1px;
    position: relative
}

#navigation ul li:hover a:after {
    color: #1689D6;
    background: rgba(102, 103, 107, .13);
    opacity: .8
}

#navigation ul li a.current {
    color: #1689D6;
}

#navigation ul li a.current:after {
    color: #4c4c4c;
    background: rgba(102, 103, 107, .13);
    opacity: .8
}

#navigation ul li a:only-child:after {
    content: '';
    display: none
}

#navigation ul li {
    transition: all .25s;
    margin: 0 5px;
    border-radius: 4px
}

#navigation ul li a {
    color: #4c4c4c;
    cursor: pointer;
    font-weight: 500;
}

#navigation ul a {
    line-height: 23px;
    padding: 7px 9px;
}

#navigation ul li:hover a {
    color: #1689D6;
}

.mobile-styles .mm-listview {
    margin: 0 -20px !important
}

.mobile-styles .mm-listview .mega-menu-headline {
    color: #fff;
    padding: 15px 20px !important;
    background: #222 !important
}

.mobile-styles .mm-listview li a i {
    padding-right: 5px
}

.mobile-styles.mm-panel:before {
    height: 10px !important
}

#header-container {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1000
}

#wrapper.wrapper-with-transparent-header #header .right-side {
    background-color: transparent
}

#header {
    transition: background .3s
}

#wrapper {
    padding-top: 82px;
}

@media(max-width:1099px) {
    #wrapper {
        padding-top: 0 !important
    }

    #header-container {
        position: relative
    }

    #header-container.transparent-header {
        position: absolute
    }
}

.mm-hidden {
    display: none !important
}

.mm-wrapper {
    overflow-x: hidden;
    position: relative
}

.mm-menu {
    box-sizing: border-box;
    background: inherit;
    display: block;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0
}

.mm-panels,
.mm-panels > .mm-panel {
    background: inherit;
    border-color: inherit;
    box-sizing: border-box;
    margin: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0
}

.mm-panels {
    overflow: hidden
}

.mm-panel {
    -webkit-transform: translate(100%, 0);
    -ms-transform: translate(100%, 0);
    transform: translate(100%, 0);
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    -webkit-transition: -webkit-transform .4s ease;
    transition: -webkit-transform .4s ease;
    transition: transform .4s ease;
    transition: transform .4s ease, -webkit-transform .4s ease;
    -webkit-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left
}

.mm-panel.mm-opened {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.mm-panel.mm-subopened {
    -webkit-transform: translate(-30%, 0);
    -ms-transform: translate(-30%, 0);
    transform: translate(-30%, 0);
    -webkit-transform: translate3d(-30%, 0, 0);
    transform: translate3d(-30%, 0, 0)
}

.mm-panel.mm-highest {
    z-index: 1
}

.mm-panel.mm-noanimation {
    -webkit-transition: none !important;
    transition: none !important
}

.mm-panel.mm-noanimation.mm-subopened {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.mm-panels > .mm-panel {
    -webkit-overflow-scrolling: touch;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 20px
}

.mm-panels > .mm-panel.mm-hasnavbar {
    padding-top: 40px
}

.mm-panels > .mm-panel:not(.mm-hidden) {
    display: block
}

.mm-panels > .mm-panel:after,
.mm-panels > .mm-panel:before {
    content: '';
    display: block;
    height: 20px
}

.mm-vertical .mm-panel {
    -webkit-transform: none !important;
    -ms-transform: none !important;
    transform: none !important
}

.mm-listview .mm-vertical .mm-panel,
.mm-vertical .mm-listview .mm-panel {
    display: none;
    padding: 10px 0 10px 10px
}

.mm-listview .mm-vertical .mm-panel .mm-listview > li:last-child:after,
.mm-vertical .mm-listview .mm-panel .mm-listview > li:last-child:after {
    border-color: transparent
}

.mm-vertical li.mm-opened > .mm-panel,
li.mm-vertical.mm-opened > .mm-panel {
    display: block
}

.mm-listview > li.mm-vertical > .mm-next,
.mm-vertical .mm-listview > li > .mm-next {
    box-sizing: border-box;
    height: 40px;
    bottom: auto
}

.mm-listview > li.mm-vertical.mm-opened > .mm-next:after,
.mm-vertical .mm-listview > li.mm-opened > .mm-next:after {
    -webkit-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    transform: rotate(225deg);
    right: 19px
}

.mm-btn {
    box-sizing: border-box;
    width: 40px;
    height: 50px;
    position: absolute;
    top: 0;
    z-index: 1
}

.mm-clear:after,
.mm-clear:before,
.mm-close:after,
.mm-close:before {
    content: '';
    border: 2px solid transparent;
    display: block;
    width: 5px;
    height: 5px;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.mm-clear:before,
.mm-close:before {
    border-right: none;
    border-bottom: none;
    right: 18px
}

.mm-clear:after,
.mm-close:after {
    border-left: none;
    border-top: none;
    right: 25px
}

.mm-next:after,
.mm-prev:before {
    content: '';
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    display: block;
    width: 8px;
    height: 8px;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0
}

.mm-prev:before {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    left: 23px;
    right: auto
}

.mm-next:after {
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
    right: 23px;
    left: auto
}

.mm-navbar {
    border-bottom: 1px solid;
    border-color: inherit;
    text-align: center;
    line-height: 30px;
    height: 50px;
    padding: 0 40px;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0
}

.mm-navbar > * {
    display: block;
    padding: 10px 0
}

.mm-navbar a,
.mm-navbar a:hover {
    text-decoration: none
}

.mm-navbar .mm-title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden
}

.mm-navbar .mm-btn:first-child {
    left: 0
}

.mm-navbar .mm-btn:last-child {
    text-align: right;
    right: 0
}

.mm-panel .mm-navbar {
    display: none
}

.mm-panel.mm-hasnavbar .mm-navbar {
    display: block;
    background-color: #262626
}

.mm-listview,
.mm-listview > li {
    list-style: none;
    display: block;
    padding: 0;
    margin: 0
}

.mm-listview {
    font: inherit;
    font-size: 14px;
    line-height: 20px
}

.mm-listview a,
.mm-listview a:hover {
    text-decoration: none
}


.mm-listview > li {
    position: relative
}

.mm-listview a.btn {
    margin: 5px;
    padding: 8px 30px;
    width: 245px;

}

.mm-listview a.btn-white {
    background-color: #fff;
    color: #2a2a2a;
}

.mm-listview a.btn:hover,
.mm-listview a.btn:focus,
.mm-listview a.btn-white:focus,
.mm-listview a.btn-white:hover {
    background: #276FBF;
    border: 1px solid #276FBF;
    -webkit-box-shadow: 0px 2px 12px 0px #888888;
    box-shadow: 0px 2px 12px 0px #888888;
}

.mm-listview > li,
.mm-listview > li .mm-next,
.mm-listview > li .mm-next:before,
.mm-listview > li:after {
    border-color: inherit
}

.mm-listview > li {
    border-bottom: 1px solid #404040
}

.mm-listview > li > a,
.mm-listview > li > span {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: inherit;
    display: block;
    padding: 14px 10px 14px 20px;
    margin: 0
}

.mm-listview > li:not(.mm-divider):after {
    content: '';
    border-bottom-width: 1px;
    border-bottom-style: solid;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: none
}

.mm-listview > li:not(.mm-divider):after {
    left: 20px
}

.mm-listview .mm-next {
    background: transparent;
    width: 50px;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2
}

.mm-listview .mm-next:before {
    content: '';
    border-left-width: 1px;
    border-left-style: solid;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0
}

.mm-listview .mm-next + a,
.mm-listview .mm-next + span {
    margin-right: 50px
}

.mm-listview .mm-next.mm-fullsubopen {
    width: 100%
}

.mm-listview .mm-next.mm-fullsubopen:before {
    border-left: none
}

.mm-listview .mm-next.mm-fullsubopen + a,
.mm-listview .mm-next.mm-fullsubopen + span {
    padding-right: 50px;
    margin-right: 0
}

.mm-panels > .mm-panel > .mm-listview {
    margin: 20px -20px
}

.mm-panels > .mm-panel > .mm-listview:first-child,
.mm-panels > .mm-panel > .mm-navbar + .mm-listview {
    margin-top: -10px
}

.mm-menu {
    background: #2a2a2a;
    border-color: rgba(255, 255, 255, .1);
    color: #fff
}

.mm-menu .mm-navbar a,
.mm-menu .mm-navbar > * {
    color: #fff;
    font-weight: 600;
    font-size: 16px
}

.mm-menu .mm-btn:after,
.mm-menu .mm-btn:before {
    border-color: rgba(255, 255, 255, .8)
}

.mm-menu .mm-listview {
    border-color: #2a2a2a
}

.mm-menu .mm-listview > li .mm-next:after {
    border-color: rgba(255, 255, 255, .8)
}

.mm-menu .mm-listview > li a:not(.mm-next) {
    -webkit-tap-highlight-color: rgba(255, 255, 255, .5);
    tap-highlight-color: rgba(255, 255, 255, .5)
}

.mm-menu .mm-listview > li.mm-selected > a:not(.mm-next),
.mm-menu .mm-listview > li.mm-selected > span {
    background: rgba(255, 255, 255, .05)
}

.mm-menu .mm-listview > li {
    transition: .2s
}

.mm-menu .mm-listview > li:hover {
    background: rgba(255, 255, 255, .03)
}

.mm-menu .mm-listview > li.mm-opened.mm-vertical > .mm-panel,
.mm-menu .mm-listview > li.mm-opened.mm-vertical > a.mm-next,
.mm-menu.mm-vertical .mm-listview > li.mm-opened > .mm-panel,
.mm-menu.mm-vertical .mm-listview > li.mm-opened > a.mm-next {
    background: rgba(0, 0, 0, .05)
}

.mm-menu .mm-divider {
    background: rgba(0, 0, 0, .05)
}

.mm-page {
    box-sizing: border-box;
    position: relative
}

.mm-slideout {
    -webkit-transition: -webkit-transform .4s ease;
    transition: -webkit-transform .4s ease;
    transition: transform .4s ease;
    transition: transform .4s ease, -webkit-transform .4s ease;
    z-index: 1
}

html.mm-opened {
    overflow-x: hidden;
    position: relative
}

html.mm-blocking {
    overflow: hidden
}

html.mm-blocking body {
    overflow: hidden
}

html.mm-background .mm-page {
    background: inherit
}

#mm-blocker {
    background: transparent;
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2
}

html.mm-blocking #mm-blocker {
    display: block
}

.mm-menu.mm-offcanvas {
    z-index: 0;
    display: none;
    position: fixed
}

.mm-menu.mm-offcanvas.mm-opened {
    display: block
}

.mm-menu.mm-offcanvas.mm-no-csstransforms.mm-opened {
    z-index: 10
}

.mm-menu.mm-offcanvas {
    width: 80%;
    min-width: 140px;
    max-width: 440px
}

html.mm-opening .mm-menu.mm-opened ~ .mm-slideout {
    -webkit-transform: translate(80%, 0);
    -ms-transform: translate(80%, 0);
    transform: translate(80%, 0);
    -webkit-transform: translate3d(80%, 0, 0);
    transform: translate3d(80%, 0, 0)
}

@media all and (max-width:175px) {
    html.mm-opening .mm-menu.mm-opened ~ .mm-slideout {
        -webkit-transform: translate(140px, 0);
        -ms-transform: translate(140px, 0);
        transform: translate(140px, 0);
        -webkit-transform: translate3d(140px, 0, 0);
        transform: translate3d(140px, 0, 0)
    }
}

@media all and (min-width:550px) {
    html.mm-opening .mm-menu.mm-opened ~ .mm-slideout {
        -webkit-transform: translate(440px, 0);
        -ms-transform: translate(440px, 0);
        transform: translate(440px, 0);
        -webkit-transform: translate3d(440px, 0, 0);
        transform: translate3d(440px, 0, 0)
    }
}

.mm-sronly {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    white-space: nowrap !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    overflow: hidden !important;
    position: absolute !important
}

em.mm-counter {
    font: inherit;
    font-size: 14px;
    font-style: normal;
    text-indent: 0;
    line-height: 20px;
    display: block;
    margin-top: -10px;
    position: absolute;
    right: 45px;
    top: 50%
}

em.mm-counter + a.mm-next {
    width: 90px
}

em.mm-counter + a.mm-next + a,
em.mm-counter + a.mm-next + span {
    margin-right: 90px
}

em.mm-counter + a.mm-fullsubopen {
    padding-left: 0
}

em.mm-counter + a.mm-fullsubopen + a,
em.mm-counter + a.mm-fullsubopen + span {
    padding-right: 90px
}

.mm-listview em.mm-counter + .mm-next.mm-fullsubopen + a,
.mm-listview em.mm-counter + .mm-next.mm-fullsubopen + span {
    padding-right: 90px
}

.mm-vertical > .mm-counter {
    top: 12px;
    margin-top: 0
}

.mm-vertical.mm-spacer > .mm-counter {
    margin-top: 40px
}

.mm-nosubresults > .mm-counter {
    display: none
}

.mm-menu em.mm-counter {
    background-color: rgba(0, 0, 0, .3);
    height: 20px;
    width: 20px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    line-height: 21px;
    font-size: 10px;
    font-weight: 600
}

.mm-menu em.mm-counter {
    background-color: #4c4c4c;
}

.mmenu-trigger {
    height: 46px;
    width: 46px;
    display: none;
    position: relative;
    margin: 0;
    background-color: #eee;
    border-radius: 4px;
    cursor: pointer
}

.hamburger {
    padding: 0;
    top: 16px;
    left: 12px;
    transform: scale(.67);
    -moz-transform: scale(.7) translateY(4px);
    position: relative;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: .15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible
}

.hamburger-box {
    position: relative
}

.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
    width: 33px;
    height: 4px;
    background-color: #555;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: .15s;
    transition-timing-function: ease
}

.hamburger-inner::before,
.hamburger-inner::after {
    content: "";
    display: block
}

.hamburger-inner::before {
    top: -10px
}

.hamburger-inner::after {
    bottom: -10px
}

.hamburger--collapse .hamburger-inner {
    top: auto;
    bottom: 0;
    transition-duration: .13s;
    transition-delay: .13s;
    transition-timing-function: cubic-bezier(.55, .055, .675, .19)
}

.hamburger--collapse .hamburger-inner::after {
    top: -20px;
    transition: top .2s .2s cubic-bezier(.33333, .4c4c4c67, .4c4c4c67, 1), opacity .1s linear
}

.hamburger--collapse .hamburger-inner::before {
    transition: top .12s .2s cubic-bezier(.33333, .4c4c4c67, .4c4c4c67, 1), transform .13s cubic-bezier(.55, .055, .675, .19)
}

.hamburger--collapse.is-active .hamburger-inner {
    transform: translate3d(0, -10px, 0) rotate(-45deg);
    transition-delay: .22s;
    transition-timing-function: cubic-bezier(.215, .61, .355, 1)
}

.hamburger--collapse.is-active .hamburger-inner::after {
    top: 0;
    opacity: 0;
    transition: top .2s cubic-bezier(.33333, 0, .4c4c4c67, .33333), opacity .1s .22s linear
}

.hamburger--collapse.is-active .hamburger-inner::before {
    top: 0;
    transform: rotate(-90deg);
    transition: top .1s .16s cubic-bezier(.33333, 0, .4c4c4c67, .33333), transform .13s .25s cubic-bezier(.215, .61, .355, 1)
}

.mmenu-trigger {
    display: none
}

@media(max-width:1099px) {
    #responsive {
        display: none
    }

    .mmenu-trigger {
        display: inline-block !important
    }

    #header {
        height: 76px
    }

    #logo {
        border: none
    }

    #logo img {
        border: none;
        max-width: 100px;
        height: auto
    }

    header.fullwidth .container {
        padding: 0 20px
    }

    .header-widget {
        float: left
    }

    .fullwidth .header-widget:last-of-type,
    .header-widget:last-of-type {
        padding-right: 25px;
        float: left
    }

    #header .right-side {
        position: absolute;
        width: auto;
        background-color: #fff;
        text-align: left
    }

    .mmenu-trigger {
        margin: 0 -5px 0 23px;
        top: 15px;
        float: right
    }

    #header .right-side .header-widget {
        border-right: 1px solid #e0e0e0;
        margin-right: -1px
    }

    .header-widget {
        padding: 0 25px
    }

    .header-notifications:first-child {
        margin-right: -5px
    }

    #header-container.cloned {
        display: none
    }
}

/* ======================================
                Home Banner
====================================== */


.home-content-area {
    background-color: #1689D6;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: 1200px;
    position: relative;
    z-index: 0;
}

.home-content-wrapper {
    height: 98vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    margin-right: -15px;
    margin-left: -15px;
}

.home-content-left {
    align-self: center;
}

.home-content-left h1 {
    color: #222;
    font-size: 40px;
    line-height: 1.1em;
    margin-bottom: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

.home-content-left h2 {
    color: #f7f7f7;
    font-weight: 500;
    padding: 15px 0;
}

.home-content-right img {
    margin-right: auto !important;
    margin-left: auto !important;
    display: block;
    z-index: 33;
}

/******* Home SVG Contents ******/
#home-svg-1 {
    right: 0;
    bottom: -1px;
}

#home-svg-2 {
    right: 0;
    bottom: -1px;
}

#home-svg-3 {
    right: 0;
    bottom: -1px;
}



/* ======================================
                Back to Top
====================================== */

#backtotop {
    position: fixed;
    right: 0;
    opacity: 0;
    visibility: hidden;
    bottom: 25px;
    margin: 0 25px 0 0;
    z-index: 999;
    transition: .35s;
    transform: translateY(10px)
}

#backtotop.visible {
    opacity: 1;
    visibility: visible;
    transform: translateY(0)
}

#backtotop a {
    text-decoration: none;
    border: 0;
    display: block;
    width: 46px;
    height: 46px;
    background-color: #1689D6;
    opacity: 1;
    transition: all .3s;
    border-radius: 4px;
    text-align: center;
    font-size: 26px
}

#backtotop a:hover,
#backtotop a:focus {
    background: #fff;
    color: #161e2c;
}

body #backtotop a {
    color: #fff
}

#backtotop a i {
    position: relative;
    display: block;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}


@media(max-width:768px) {
    #backtotop {
        display: none
    }
}

/* ======================================
                Content Boxes
====================================== */
.content-box-lg {
    padding: 120px 0;
}

.content-box-md {
    padding: 100px 0 150px 0;
}

.content-box-sm {
    padding: 70px 0 130px 0;
}

/* ======================================
                How It Works
====================================== */
.how-it-works {
    position: relative;
    background: #F5F5F5;
}

.section-heading-left {
    padding: 0 0 40px 0;
    margin-left: 15px;
    text-align: left;
}

.section-heading-left h2 span {
    color: #1689D6;
    font-weight: 700;
}

.svg-icon {
    height: 100px;

}

.step {
    box-shadow: 0 0 12px rgba(0, 0, 0, .1);
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    min-height: 315px;
    position: relative;
    text-align: center;
}

.step img {
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 20px;
}

.step .row {
    margin: 0;
}

.step .circle {
    text-align: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #1689D6;
    color: #fff;
    line-height: 1.9;
    font-size: 16px;
    margin-left: 0;
    position: absolute;
    top: 20px;
}



.section-bottom-svg {
    bottom: -1px;
    right: 0;
    left: 0;
}

.section-top-svg {
    top: -1px;
    right: 0;
    left: 0;
}

/********************************
	        Client
*********************************/

.client-area .content-box-sm {
    padding: 60px 0 90px 0;
}

.client-area {
    background: #F5F5F5;
    position: relative;
}

.client-area .section-heading {
    margin-bottom: 20px;
}

.section-heading h2 {
    margin-bottom: 15px;
}

.single-client {
    text-align: center;
}

.single-client img {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: 90%;
    height: 90%;

}

.single-client img:hover {
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    filter: grayscale(0%);
}

@media (max-width: 800px) {
    .single-client img {
        margin-bottom: 40px;
    }
}

/********************************
	        Our Service Area
*********************************/
.services {
    position: relative;
}

.service-details {
    margin-bottom: 50px;
}

.service {
    background: #fff;
    box-shadow: 0 0 12px rgba(0, 0, 0, .1);
    padding: 20px;
    border-radius: 8px;
    min-height: 600px;
    position: relative;

}

.service h5 {
    margin-bottom: 30px;
}

/*.service-details h5::after {
	content: "";
    width: 80px;
    height: 3px;
    background-color: #1689D6;
    position: relative;
    display: block;
	top: 15%;
}*/
.service img {
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 20px;
}

.service .row {
    margin: 0;
}

.service i {
    color: #1689D6;
}

.service-btn {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

/********************************
	        Why Choose Us 
*********************************/
.why-choose-us .content-box-sm {
    padding-bottom: 70px;
}

.why-choose-us .section-heading p {
    width: 80%;
    margin: auto;
}

.choose-us-content,
.benefits {
    background: #fff;
    box-shadow: 0 0 12px rgba(0, 0, 0, .1);
    padding: 20px 20px 20px 20px;
    border-radius: 8px;

}

.choose-us-content h4 {
    margin-bottom: 10px;
}

.choose-us-content h4 i {
    font-size: 20px;
    margin-right: 5px;
    color: #1689D6;
}

.benefits {
    min-height: inherit;
    height: 97%;
}

.choose-us-content {
    margin-bottom: 15px;
    padding-bottom: 0;
}

.benefits h3 {
    margin-bottom: 20px;
}

.benefits ul li {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 500;
}

.benefits ul li i {
    color: #f79125;
    margin-right: 10px;
}

.try-us h5 span {
    color: #1689D6;
}

/********************************
	        Home About 
*********************************/
.about {
    background: url("../images/abstract-background-1-01.png") no-repeat fixed center;
    background-size: cover;
    position: relative;
}

.about .content-box-sm {
    background: rgba(255, 255, 255, 0.8);
    text-align: left;
}

.about .section-heading-left {
    margin-left: 0;
}

.about h4 {
    margin-bottom: 20px;
}

.about .content-box-sm {
    padding-bottom: 100px;
}

/********************************
	        Join Community 
*********************************/
.join-community {
    text-align: center;
    position: relative;
}

.join-community .section-heading {
    margin-bottom: 20px;
}

.btn-join-community {
    margin: auto;
    margin-top: 20px;
}

.join-community h4 {
    color: #293038;
}

.job-career {
    background: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, .1);
    padding: 20px;
    border-radius: 8px;
    margin-top: 40px;
}

.job-career p {
    font-size: 16px;
}

.job-career p span {
    color: #1689D6;
}

/*******************************************
	        Contact (Get in Touch) 
********************************************/
.contact {
    background: #f7f7f7;
    position: relative;
}

.contact .content-box-sm {
    padding-bottom: 0;
}

.contact .contact-info {
    position: absolute;
    z-index: 1;
    box-shadow: 0 0 15px rgba(0, 0, 0, .1);
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    background: #fff;
    left: 50%;
    transform: translateX(-50%);
    top: 200px;
}

.contact .svg-icon {
    height: 60px;

}

.contact .icon-box h6 {
    font-size: 14px;
    font-weight: 400;
    margin: 20px 0 10px 0;
}

.contact .icon-box h5 {
    font-size: 18px;
}

/* ======================================
                Google Map
====================================== */
#map {
    height: 600px;
    margin-left: -15px;
    margin-right: -15px;
    margin-top: 80px;
}

/*********************************
            Footer
*********************************/

.footer {
    padding-top: 70px;
    background-color: #161e2c;
}

.footer_logo {
    padding-left: 0px;
    margin-bottom: 39px;
}

.footer_intro p {
    margin-bottom: 0px;
    color: #BEC0C2;
}

.footer_social {
    margin-top: 27px;
}

.footer_social ul {
    display: inline-block;
    margin-left: -5px;
}

.footer_social ul li {
    display: inline-block;
    margin-right: 12px;
}

.footer_social ul li a {
    padding: 5px;
}

.footer_social ul li a i {
    font-size: 20px;
    color: #BEC0C2;
}

.footer_social ul li a:hover i {
    color: #F5F5F5;
}

ul.contact-options li {
    margin-top: 10px;
    color: #BEC0C2;
    font-weight: 500;
}

ul.contact-options li > i {
    margin-right: 10px;
}

.footer_cr {
    font-size: 16px;
    font-weight: 500;
    color: #909090;
    margin-top: 30px;
    padding: 35px 0;
}

.footer_cr span {
    color: #F5F5F5;
}

.footer_col {
    margin-bottom: 27px;
}

.footer_col:last-child {
    margin-bottom: 0px;
}

.footer_col_title {
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 9px;
}

.footer_col ul li {
    margin-bottom: 4px;
}

.footer_col ul li a {
    font-size: 16px;
    font-weight: 500;
    color: #BEC0C2;
    position: relative;
    display: block;
    z-index: 100;
    padding: 4px 0;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.footer_col ul li a:hover {
    color: #F5F5F5;
}

.footer_col ul li a span {
    display: inline-block;
    position: relative
}

.footer_col ul li a span:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #66676b;
    height: 2px;
    display: block;
    transition: all .25s, opacity .2s;
    z-index: -1;
    border-radius: 3px;
    color: #1389D6;
    opacity: .5;
    width: 0;
}

.footer_col ul li a:hover span:before {
    width: 100%;
    opacity: 1
}

/********************************
	        Tippy CSS 
*********************************/

.tippy-tooltip.dark-theme {
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    padding: 6px 12px
}

.tippy-tooltip.dark-theme .tippy-backdrop {
    background-color: #333
}

.tippy-popper[x-placement^=top] .tippy-tooltip.dark-theme .tippy-arrow {
    border-top-color: #333
}

.tippy-popper[x-placement^=bottom] .tippy-tooltip.dark-theme .tippy-arrow {
    border-bottom-color: #333
}

.tippy-popper[x-placement^=right] .tippy-tooltip.dark-theme .tippy-arrow {
    border-right-color: #333
}

.tippy-popper[x-placement^=left] .tippy-tooltip.dark-theme .tippy-arrow {
    border-left-color: #333
}

.tippy-tooltip.dark-theme .tippy-arrow {
    transform: scale(.7)
}

.tippy-tooltip.light-theme {
    color: #333;
    font-weight: 500;
    font-size: 12px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .1);
    padding: 5px 10px;
    background-color: #fff
}

.tippy-popper[x-placement^=top] .tippy-tooltip.light-theme .tippy-arrow {
    border-top-color: #fff
}

.tippy-popper[x-placement^=bottom] .tippy-tooltip.light-theme .tippy-arrow {
    border-bottom-color: #fff
}

.tippy-popper[x-placement^=right] .tippy-tooltip.light-theme .tippy-arrow {
    border-right-color: #fff
}

.tippy-popper[x-placement^=left] .tippy-tooltip.light-theme .tippy-arrow {
    border-left-color: #fff
}




/*******************************************
	        Expert Registration Page
********************************************/
.expert-registration {
    background: #f7f7f7;
}

.expert-registration .section-heading,
.login .section-heading {
    margin-bottom: 40px;
}

.registration-form-area {
    margin: 0 auto;
    background: #fff;
    box-shadow: 0 0 17px rgba(0, 0, 0, .1);
    padding: 40px 40px 30px 40px;
    border-radius: 8px;
}

.form-bottom {

    text-align: center;

}

.form-bottom button {
    margin-top: 20px;
    margin-bottom: 10px;
}

.form-bottom p {
    font-size: 15px;
}

.form-bottom p a {
    color: #1689D6;
}

/*******************************************
	        Confirm Email Page
********************************************/
.confirmation-text {
    text-align: center;
    margin: 0 auto;
}

.confirmation-text p {
    font-size: 20px;
    margin-bottom: 30px;
}

.confirmation-text a {
    color: #1389D6;
    font-size: 20px;
    font-weight: 500;
}

.email-confirmation .section-heading {
    margin-bottom: 20px;
}


/*******************************************
	        Login Page
********************************************/
.login-form-area {
    margin: 0 auto;
    background: #fff;
    box-shadow: 0 0 17px rgba(0, 0, 0, .1);
    padding: 50px 40px 30px 40px;
    border-radius: 8px;
}

.login {
    background: #f7f7f7;
}


/*******************************************
	        Complete expert profile page
********************************************/
/* @extend display-flex; */
display-flex,
.steps ul,
.actions ul,
.actions ul li a,
.title,
.number {
    display: flex;
    display: -webkit-flex;
}

/* @extend list-type-ulli; */
list-type-ulli,
ul,
.actions ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


a:focus,
a:active {
    text-decoration: none;
    outline: none;
    transition: all 300ms ease 0s;
    -moz-transition: all 300ms ease 0s;
    -webkit-transition: all 300ms ease 0s;
    -o-transition: all 300ms ease 0s;
    -ms-transition: all 300ms ease 0s;
}


.clear {
    clear: both;
}


.signup-form {
    padding: 0 20px;
    position: relative;
}



.form-textarea textarea {
    height: 150px;
    width: 534px;
}

.form-radio {
    margin-bottom: 40px;
}

.form-radio-item input {
    width: 0;
    height: 0;
    position: absolute;
    left: -9999px;
}

.form-radio-item input + label {
    margin: 0px;
    padding: 12px 10px;
    width: 85px;
    height: 50px;
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    text-align: center;
    background-color: #f8f8f8;
    font-size: 14px;
    font-weight: 400;
    color: #f8f8f8;
    text-align: center;
    text-transform: none;
    transition: border-color .15s ease-out, color .25s ease-out, background-color .15s ease-out, box-shadow .15s ease-out;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
}

.form-radio-item input:checked + label {
    background-color: #1abc9c;
    color: #FFF;
    z-index: 1;
}

.form-radio-item input:focus + label {
    outline: none;
}

.form-radio-item input:hover {
    background-color: #1abc9c;
    color: #FFF;
}

.form-radio-item input + label:first-of-type {
    border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px;
    -o-border-radius: 5px 0 0 5px;
    -ms-border-radius: 5px 0 0 5px;
    border-right: none;
}

.form-radio-item input + label:last-of-type {
    border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0;
    -o-border-radius: 0 5px 5px 0;
    -ms-border-radius: 0 5px 5px 0;
    border-left: none;
}

.form-radio-flex input {
    width: 0;
    height: 0;
    position: absolute;
    left: -9999px;
}

.form-radio-flex input + label {
    margin: 0px;
    padding: 12px 10px;
    width: 86px;
    height: 50px;
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    text-align: center;
    background-color: transparent;
    border: 1px solid #ebebeb;
    text-align: center;
    text-transform: none;
    transition: border-color .15s ease-out, color .25s ease-out, background-color .15s ease-out, box-shadow .15s ease-out;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
}

.form-radio-flex input:checked + label {
    border: 1px solid #1689D6;
    z-index: 1;
}

.form-radio-flex input:focus + label {
    outline: none;
}

.form-radio-flex input:hover {
    border: 1px solid #1689D6;
}

#signup-form-p-2 .form-radio-flex,
#signup-form-p-2 .form-flex,
#signup-form-p-2 .form-group input {
    width: 534px;
}

#signup-form-p-2 #credit_card {
    width: 275px;
}

#signup-form-p-2 #cvc {
    width: 143px;
}

.form-row .form-group label {
    width: auto;
}

.form-row .form-group:first-child {
    float: left;
}

.form-row .form-group:last-child {
    float: right;
}

.form-date {
    clear: both;
}

.form-date-item {
    position: relative;
    overflow: hidden;
}

.form-date-item:last-child:after {
    width: 0px;
}

.form-date-item select {
    position: relative;
    background: 0 0;
    z-index: 10;
    cursor: pointer;
    margin-right: 10px;
}

.form-date-item #expiry_date {
    width: 86px;
}

.form-date-item #expiry_year {
    width: 104px;
}

.form-date-item .select-icon {
    z-index: 0;
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
    justify-content: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -o-justify-content: center;
    -ms-justify-content: center;
    align-items: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    -o-align-items: center;
    -ms-align-items: center;
}

.form-date-item .select-icon i {
    justify-content: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -o-justify-content: center;
    -ms-justify-content: center;
    align-items: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    -o-align-items: center;
    -ms-align-items: center;
    width: 30px;
    height: 20px;
    font-size: 22px;
    color: #999;
}

.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
}


#val {
    width: 345px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 14px;
    font-weight: bold;
    pointer-events: none;
    border: 1px solid #ebebeb;
    font-family: 'Roboto Slab';
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    align-items: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    -o-align-items: center;
    -ms-align-items: center;
    justify-content: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -o-justify-content: center;
    -ms-justify-content: center;
}

#button {
    cursor: pointer;
    width: 130px;
    background: #f8f8f8;
    height: 50px;
    color: #999;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 14px;
    text-align: center;
    -webkit-transition: 500ms all;
    -moz-transition: 500ms all;
    transition: 500ms all;
    align-items: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    -o-align-items: center;
    -ms-align-items: center;
    justify-content: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -o-justify-content: center;
    -ms-justify-content: center;
}

#button:hover {
    background-color: #dfdfdf;
}

.form-file {
    width: 488px;
    position: relative;
}

.form-password {
    position: relative;
}

.bar-strength {
    width: 60px;
    height: 15px;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -o-border-radius: 8px;
    -ms-border-radius: 8px;
    background: #f8f8f8;
    position: absolute;
    right: 193px;
    top: 50%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

.bar-process {
    width: 100%;
    height: 100%;
    position: relative;
}

.bar {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -o-border-radius: 8px;
    -ms-border-radius: 8px;
}

.pw-very-weak .bar {
    background: #d00;
    width: 25px;
}

.pw-very-weak .label,
.pw-weak .label {
    color: #d00;
}

.pw-weak .bar {
    background: #d00;
    width: 25px;
}

.pw-mediocre .bar {
    background: #fca812;
    width: 35px;
}

.pw-strong .bar {
    background: #fca812;
    width: 42px;
}

.pw-mediocre .label,
.pw-strong .label {
    color: #fca812;
}

.pw-very-strong .bar {
    background: #1abc9c;
    width: 100%;
}

.pw-very-strong .label {
    color: #1abc9c;
}

fieldset {
    border: none;
    padding: 0px;
    margin: 0px;
}

.steps {
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    padding: 12px 20px;
}

.steps ul {
    justify-content: space-around;
    -moz-justify-content: space-around;
    -webkit-justify-content: space-around;
    -o-justify-content: space-around;
    -ms-justify-content: space-around;
}

.steps ul li {
    padding-right: 80px;
    padding-left: 0px;
    position: relative;
}

.steps ul li:after {
    position: absolute;
    width: 1px;
    height: 30px;
    content: "";
    background: #ebebeb;
    right: 18px;
    top: 50%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

.steps ul li a {
    color: #999;
    text-decoration: none;
    font-weight: bold;
}

.steps ul li:last-child:after {
    width: 0px;
}

.steps ul .current a {
    color: #222;
}

.steps ul .current a .number {
    border: 2px solid #222;
}

.steps ul .done a {
    color: #1689D6;
}

.steps ul .done a .number {
    position: relative;
    font-size: 0px;
    border: 2px solid #1689D6;
}

.steps ul .done a .number:after {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 14px;
    color: #1689D6;
    font-family: 'Material-Design-Iconic-Font';
    content: '\f26b';
    font-weight: bold;
}

.actions {
    position: absolute;
    bottom: 14px;
    width: 100%;
    /* text-align: right; */
    padding: 0 20px;
    /* margin: 0 15px; */
    right: 0;
}

.actions ul {
    align-items: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    -o-align-items: center;
    -ms-align-items: center;
    justify-content: flex-end;
    -moz-justify-content: flex-end;
    -webkit-justify-content: flex-end;
    -o-justify-content: flex-end;
    -ms-justify-content: flex-end;
    width: 100%;
}

.actions ul .disabled {
    display: none;
}

.actions ul li {
    margin-left: 10px;
}

.actions ul li:first-child a {
    background: #f8f8f8;
    color: #999;
}

.actions ul li:first-child a:hover {
    background-color: #dfdfdf;
}

.actions ul li a {
    width: 150px;
    height: 50px;
    color: #fff;
    background: #1689D6;
    align-items: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    -o-align-items: center;
    -ms-align-items: center;
    justify-content: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -o-justify-content: center;
    -ms-justify-content: center;
    text-decoration: none;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
}

.actions ul li a:hover {
    background-color: #276FBF;
    -webkit-box-shadow: 0px 2px 12px 0px #888888;
    box-shadow: 0px 2px 12px 0px #888888;
}

.content {
    overflow: hidden;
}

.content .current {
    padding-top: 60px;
}

.content h3 {
    display: none;
}

.fieldset-content {
    border-bottom: 1px solid #ebebeb;
}

.fieldset-footer {
    padding: 28px 0;
}

.fieldset-footer span {
    color: #999;
}

.title {
    align-items: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    -o-align-items: center;
    -ms-align-items: center;
}

.number {
    width: 31px;
    height: 31px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    align-items: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    -o-align-items: center;
    -ms-align-items: center;
    justify-content: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -o-justify-content: center;
    -ms-justify-content: center;
    border: 2px solid #999;
    margin-right: 15px;
}

@media screen and (max-width: 992px) {
    .container {
        width: calc(100% - 40px);
        max-width: 100%;
    }

    .bar-strength {
        display: none;
    }
}

@media screen and (max-width: 768px) {

    .steps ul,
    .form-row {
        flex-direction: column;
        -moz-flex-direction: column;
        -webkit-flex-direction: column;
        -o-flex-direction: column;
        -ms-flex-direction: column;
    }

    .steps ul li:after {
        width: 0px;
    }

    .title {
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
    }





    .fieldset-content {
        padding-right: 0px;
        height: 600px;
    }
}

@media screen and (max-width: 600px) {
    #val {
        width: 99%;
    }

    #button {
        top: 60px;
        width: 100%;
    }

    .fieldset-footer {
        padding: 78px 0;
    }

    .actions ul li a {
        width: 100px;
    }

    .steps ul li {
        padding-right: 0px;
    }
}

@media screen and (max-width: 480px) {
    .signup-form {
        padding-left: 30px;
        padding-right: 30px;
    }

    .form-radio-flex input + label {
        margin-bottom: 20px;
    }

    .form-flex {
        flex-direction: column;
        -moz-flex-direction: column;
        -webkit-flex-direction: column;
        -o-flex-direction: column;
        -ms-flex-direction: column;
    }

    .form-date-item #expiry_date,
    .form-date-item #expiry_year {
        width: 100%;
        margin-bottom: 10px;
    }

    .fieldset-content {
        height: 750px;
    }
}

/*# sourceMappingURL=style.css.map */



.profile-steps-wrapper {
    box-shadow: 0 0 17px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 0 17px rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0 0 17px rgba(0, 0, 0, .1);
    -o-box-shadow: 0 0 17px rgba(0, 0, 0, .1);
    -ms-box-shadow: 0 0 17px rgba(0, 0, 0, .1);
    padding: 40px 40px 30px 40px;
    border-radius: 8px;
    margin: 0 auto;
}




.complete-profile-steps .section-heading {
    margin-bottom: 40px;
}

.complete-profile-steps .section-heading h2 {
    font-size: 25px;
}

.complete-profile-steps .section-heading h2 span {
    color: #1689D6;
}

.complete-profile-steps .section-heading h4 {
    font-size: 20px;
}

.profile-steps-wrapper {
    background: #fff;
}


.form-check-input {
    opacity: 0;
}





label.form-check-label:nth-child(3n): before {
    transform: translateX(-35px);
}

label.form-check-label:nth-child(3n) {
    margin-left: 35px;
}

.styled-checkbox + label.form-check-label {
    position: relative;
    cursor: pointer;
    padding: 0;

}

.styled-checkbox + label.form-check-label:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    background: #1689D6;
}

.styled-checkbox:hover + label.form-check-label:before {
    background: #1689D6;
}

.styled-checkbox:focus + label.form-check-label:before {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
}

.styled-checkbox:checked + label.form-check-label:before {
    background: #1689D6;
}

.styled-checkbox:checked + label.form-check-label:after {
    content: '';
    position: absolute;
    left: 5px;
    top: 9px;
    background: white;
    width: 2px;
    height: 2px;
    box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}


.fieldset-content .form-check {
    padding-left: 0;
}












label.form-check-label {
    font-weight: 400;
}

.modified-label label.error {
    position: absolute;
    display: block;
    margin-bottom: -93px;
    color: #dc3545;
    top: 44px;
    left: -105px;
}

/*
.check-error label.error {
    position: absolute;
    display: block;
    color: #dc3545;
    top: 75px;
    left: 0px;
}*/

/*******************************************
	        File Upload
********************************************/
/*.file-upload {
  background-color: #ffffff;
  width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.file-upload-btn {
  width: 100%;
  margin: 0;
  color: #fff;
  background: #1FB264;
  border: none;
  padding: 10px;
  border-radius: 4px;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.file-upload-btn:hover {
  background: #1AA059;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.file-upload-btn:active {
  border: 0;
  transition: all .2s ease;
}

.file-upload-content {
  display: none;
  text-align: center;
}

.file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
    height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.image-dropping, .image-upload-wrap:hover {
    background-color: #1689d6;
    border: 4px dashed #ffffff;
}
.image-upload-wrap {
    margin-top: 20px;
    height: 166px;
    border: 2px dashed #1689d6;
    position: relative;
}

.image-title-wrap {
  padding: 0 15px 15px 15px;
  color: #222;
}

.drag-text {
  text-align: center;
}

.drag-text h3 {
  font-weight: 100;
  text-transform: uppercase;
  color: #15824B;
  padding: 60px 0;
}

.file-upload-image {
  max-height: 200px;
  max-width: 200px;
  margin: auto;
  padding: 20px;
}

.remove-image {
  width: 200px;
  margin: 0;
  color: #fff;
  background: #cd4535;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #b02818;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.remove-image:hover {
  background: #c13b2a;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.remove-image:active {
  border: 0;
  transition: all .2s ease;
}*/


.custom-cv-btn, .profile-pic-btn {
    position: absolute;
    top: 0px;
}

.cv-upload, .file-upload {
    position: relative;
}

#cv,#profilepic {
    opacity: 0;
}

#cv-upload-button, #pic-upload-button {
    padding: 10px;
    color: white;
    background-color: #1689D6;
    border-radius: 5px;
    cursor: pointer;
}

#cv-upload-button, #pic-upload-button:hover,
#cv-upload-button, #pic-upload-button:focus {
    background-color: #276FBF;
}

#nofile-choosen-text, #pic-choosen-text {
    margin-left: 10px;
    font-family: sans-serif;
    color: #909090;
}

input[type=File] {
    margin-bottom: 10px;
}

.cc-img {
    margin: 0 auto;
}
.cc-images {
    margin: 0 auto;
}
#expirationdate.hasDatepicker.ui-datepicker-calendar {
        display: none;
    }


#completeProfileForm label span {
    color: #dc3545;
}